.hero {
  margin: 0 auto;
  padding: 118px 0;

  text-align: center;

  background-color: #2f303a;

  max-width: 1600px;
  background-size: contain;
  background-position: center;

  &_title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--hero-btntext-color);
  }

  &_btn {
    @extend %btn;

    min-width: 216px;
    border-radius: 4px;
    padding: 10px 32px;
  }

  &_btn:hover,
  &_btn:focus {
    color: var(--bcg-focus-btn-color);
    background-color: var(--hero-btntext-color);
  }

  // mobile
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_bg_m@1x.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_bg_m@2x.jpg);
  }

  // tablet
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_bg_t@1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_bg_t@2x.jpg);
    }
  }

  // desktop
  @media screen and (min-width: 769px) {
    padding: 200px 0;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_bg_d@1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_bg_d@2x.jpg);
    }
    @media screen and(min-width:1200px) {
      &_title {
        width: 696px;

        font-size: 44px;
        line-height: calc(60 / 44);
      }
    }
  }
}
