.portfolio {
  @include section(94px, 94px);
}

// filter-button
.filters {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
  gap: 8px;
}

.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  font-family: inherit;
  border: none;
  box-shadow: none;
  border-radius: 4px;

  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;

  cursor: pointer;

  background-color: var(--bcg-nofocus-btn);

  transition: background-color 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function),
    box-shadow 250ms var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--hero-btntext-color);
    background-color: var(--bcg-focus-btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// projects

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  flex-basis: calc((100% - 30px * 1) / 2);
  box-shadow: none;

  transition: box-shadow 250ms var(--animation-timing-function);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-vision {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  display: block;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateY(100%);

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms var(--animation-timing-function);

  .projects-item:hover & {
    transform: translateY(0);
  }

  .projects-overlay-text {
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;

    color: var(--hero-btntext-color);
  }
}

.projects-thumb {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  &-title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
  }

  &-text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;

    color: var(--text-color);
  }
}
