.team {
  @include section(60px, 60px);

  background-color: var(--bcg-nofocus-btn);

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.teams {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &-item {
    text-align: center;
    background-color: var(--hero-btntext-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &-content-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
  }

  &-content-text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;

    color: var(--text-color);
  }
}

.team-social {
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &-icon {
    fill: currentColor;
  }
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hero-btntext-color);
  color: var(--icon-color);

  transition: background-color 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--hero-btntext-color);
    background-color: var(--bcg-focus-btn-color);
  }
}
