.modal-form-agreament {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.agreament-text {
  font-size: 10px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;

  user-select: none;

  color: var(--text-color);

  @media screen and (min-width: 480px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.agreament-checkbox {
  appearance: none;
}

.uncheck {
  opacity: 1;

  transition: opacity 250ms var(--animation-timing-function);
}

.check {
  opacity: 0;

  transition: opacity 250ms var(--animation-timing-function);
}

.agreament-checkbox:checked + .agreament-icon .uncheck {
  opacity: 0;
}

.agreament-checkbox:checked + .agreament-icon .check {
  opacity: 1;
}

.agreament-link {
  color: var(--bcg-focus-btn-color);
  text-underline-position: under;
}

.modal-form-btn {
  display: block;
  margin: auto;

  width: 200px;
  height: 50px;

  color: var(--hero-btntext-color);
  background: var(--bcg-focus-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;

  transition: background-color 250ms var(--animation-timing-function);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
}
