.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 10px 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: transparent;
}

.menu-toggle:hover .menu-burger,
.menu-toggle:focus .menu-burger {
  fill: #2196f3;
}

// mobile menu
.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;

  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.menu-toggle:hover .menu-close,
.menu-toggle:focus .menu-close {
  fill: #2196f3;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 0;
  margin: 0;
  margin-bottom: auto;

  &-link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;

    color: #212121;
  }
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 64px;

  &-tel {
    font-weight: 500;

    font-size: 24px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;

    color: #2196f3;

    @media screen and (min-width: 480px) {
      font-size: 34px;
    }
  }

  &-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;

    color: #757575;
  }
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &-link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);

    letter-spacing: 0.02em;

    color: #2196f3;
  }

  &-items:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    padding-right: 10px;
  }
}

.current {
  color: var(--bcg-focus-btn-color);
}
