.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
}

.modal-group {
  margin-bottom: 20px;
}

.modal-lable {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.modal-group-box {
  position: relative;
  margin-bottom: 10px;
}

.modal-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  outline: unset;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--animation-timing-function);
}

.modal-field:focus,
.modal-massage:focus {
  border: 1px solid rgba(33, 150, 243, 1);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: block;
  align-items: center;

  transition: fill 250ms var(--animation-timing-function);
}

.modal-field:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-massage {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  outline: unset;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--animation-timing-function);
}
