.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: auto;

    padding: 32px 0;

    &-site {
      display: flex;
      gap: 50px;
      margin-left: 93px;
    }

    &-site-link {
      position: relative;

      padding-bottom: 32px;

      font-weight: 500;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;

      color: var(--title-nav-color);

      transition: color 250ms var(--animation-timing-function);
    }

    &-site-link:hover,
    &-site-link:focus {
      color: var(--bcg-focus-btn-color);
    }

    &-site-link.current::after {
      content: "";
      position: absolute;

      display: block;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;

      background-color: var(--bcg-focus-btn-color);
      border-radius: 2px;
    }

    .current {
      color: var(--bcg-focus-btn-color);
    }
  }
}
