:root {
    --text-color: #757575;
    --bcg-focus-btn-color: #2196f3;
    --title-nav-color: #212121;
    --hero-btntext-color: #ffffff;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --bcg-nofocus-btn: #f5f4fa;
    --icon-color: #afb1b8;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }